POSTGRES_USER=(postgres)
POSTGRES_PASSWORD=(1234)
POSTGRES_DB=(DBNAME)
POSTGRES_PORT=(5435)
POSTGRES_PORT_LOCAL=(5432)


DATABASE_DSN=postgres://postgres:1234@localhost:${POSTGRES_PORT}/tz?sslmode=disable
DATABASE_DSN_LOCAL=postgres://postgres:1234@postgres:${POSTGRES_PORT_LOCAL}/tz?sslmode=disable
API_PORT=(8080)
NAME=(subscriptions)